// Mobile Device Resposive
@media (max-width:48rem) {
  body {
    flex-direction:column;

    .sideBar {
      position:static;
      width:100%;
    }

    // Main Container

    .main__container {
      margin:0;
    }
  }
}